  <main class="container mx-auto px-6 py-10">
    <h1>PAQUETESSSSSS</h1>
    <section class="text-center">
      {{#if paquetes}}
        {{#each}}
          <div>
            <img src="" alt="LOGO DEL PAQUETE">
            <p>{{plazo}}</p>
            <p>{{precio}}</p>
            <p>{{meses}}</p>
          </div>
        {{/each}}
      {{else}}
        <h2>NO HAY PAQUETES AGREGALOOOOSOSSS</h2>
      {{/if}}
    </section>

    <h1>NOTICIASSSSS</h1>
    <section>
      {{#if noticias}}q
        {{#each}}
          <div>
            <img src="" alt="LOGO DEL PAQUETE">
            <p>{{Foto}}</p>
            <p>{{Contenido}}</p>
            <p>{{Link}}</p>
          </div>
        {{/each}}
      {{else}}
        <h2>NO HAY NOTICIAS PINCHE CHISMOSO</h2>
      {{/if}}
    </section>
  </main>